---
title: InspiredSalonByCarolyn
---

<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
            {% include head.html %}
<!-- Body Start -->
<body>
    <!--preloader start-->
    <div id="preloader">
        <div id="status"><img src="images/loading.gif" id="preloader_image" alt="loader">
        </div>
    </div>
    <!--preloader end-->
            {% include header.html %}
            
            {% include logo.html %}
            
                                <div class="ds_pagecontentContent_title">
                        <h1>
								GALLERY
							</h1>
                    </div>
            
            <!-- category slider section end-->
        <div class="ds_wrapper  portfolio_slider_sec">
        <div class="container">
            <div class="row">
                <div class="full_width lightbox_gallary" id="porfolio_filter">
                    <div class="gallery_light clearfix">
                        <div class="col-sm-4 col-md-2 col-lg-3 col-xs-6 mix ">
						  <div class="light_img_wrap">
                            <a href="gallery/item1.jpg">
                                <img alt="" src="gallery/item1.jpg" class="img-responsive">
                            </a>
						  </div>
                        </div>
                        <div class="col-sm-4 col-md-2 col-lg-3 col-xs-6 mix ">
						  <div class="light_img_wrap">
                            <a href="gallery/item2.jpg">
                                <img alt="" src="gallery/item2.jpg" class="img-responsive">
                            </a>
						  </div>
                        </div>
                        <div class="col-sm-4 col-md-2 col-lg-3 col-xs-6 mix ">
						  <div class="light_img_wrap">
                            <a href="gallery/item3.jpg">
                                <img alt="" src="gallery/item3.jpg" class="img-responsive">
                            </a>
						  </div>
                        </div>
                        <div class="col-sm-4 col-md-2 col-lg-3 col-xs-6 mix ">
						  <div class="light_img_wrap">
                            <a href="gallery/item4.jpg">
                                <img alt="" src="gallery/item4.jpg" class="img-responsive">
                            </a>
						  </div>
                        </div>
                        <div class="col-sm-4 col-md-2 col-lg-3 col-xs-6 mix ">
						  <div class="light_img_wrap">
                            <a href="gallery/item5.jpg">
                                <img alt="" src="gallery/item5.jpg" class="img-responsive">
                            </a>
						  </div>
                        </div>
                        <div class="col-sm-4 col-md-2 col-lg-3 col-xs-6 mix ">
						  <div class="light_img_wrap">
                            <a href="gallery/item6.jpg">
                                <img alt="" src="gallery/item6.jpg" class="img-responsive">
                            </a>
						  </div>
                        </div>
                        <div class="col-sm-4 col-md-2 col-lg-3 col-xs-6 mix ">
						  <div class="light_img_wrap">
                            <a href="gallery/item7.jpg">
                                <img alt="" src="gallery/item7.jpg" class="img-responsive">
                            </a>
						  </div>
                        </div>
                        <div class="col-sm-4 col-md-2 col-lg-3 col-xs-6 mix ">
						  <div class="light_img_wrap">
                            <a href="gallery/item8.jpg">
                                <img alt="" src="gallery/item8.jpg" class="img-responsive">
                            </a>
						  </div>
                        </div>
                        <div class="col-sm-4 col-md-2 col-lg-3 col-xs-6 mix ">
						  <div class="light_img_wrap">
                            <a href="gallery/item9.jpg">
                                <img alt="" src="gallery/item9.jpg" class="img-responsive">
                            </a>
						  </div>
                        </div>
                        <div class="col-sm-4 col-md-2 col-lg-3 col-xs-6 mix ">
						  <div class="light_img_wrap">
                            <a href="gallery/item10.jpg">
                                <img alt="" src="gallery/item10.jpg" class="img-responsive">
                            </a>
						  </div>
                        </div>
                        <div class="col-sm-4 col-md-2 col-lg-3 col-xs-6 mix ">
						  <div class="light_img_wrap">
                            <a href="gallery/item11.jpg">
                                <img alt="" src="gallery/item11.jpg" class="img-responsive">
                            </a>
						  </div>
                        </div>
                        <div class="col-sm-4 col-md-2 col-lg-3 col-xs-6 mix ">
						  <div class="light_img_wrap">
                            <a href="gallery/item12.jpg">
                                <img alt="" src="gallery/item12.jpg" class="img-responsive">
                            </a>
						  </div>
                        </div>
                        <div class="col-sm-4 col-md-2 col-lg-3 col-xs-6 mix ">
						  <div class="light_img_wrap">
                            <a href="gallery/item13.jpg">
                                <img alt="" src="gallery/item13.jpg" class="img-responsive">
                            </a>
						  </div>
                        </div>
                        <div class="col-sm-4 col-md-2 col-lg-3 col-xs-6 mix ">
						  <div class="light_img_wrap">
                            <a href="gallery/item14.jpg">
                                <img alt="" src="gallery/item14.jpg" class="img-responsive">
                            </a>
						  </div>
                        </div>
                        <div class="col-sm-4 col-md-2 col-lg-3 col-xs-6 mix ">
						  <div class="light_img_wrap">
                            <a href="gallery/item15.jpg">
                                <img alt="" src="gallery/item15.jpg" class="img-responsive">
                            </a>
						  </div>
                        </div>
                        <div class="col-sm-4 col-md-2 col-lg-3 col-xs-6 mix ">
						  <div class="light_img_wrap">
                            <a href="gallery/item16.jpg">
                                <img alt="" src="gallery/item16.jpg" class="img-responsive">
                            </a>
						  </div>
                        </div>
                        <div class="col-sm-4 col-md-2 col-lg-3 col-xs-6 mix ">
						  <div class="light_img_wrap">
                            <a href="gallery/item17.jpg">
                                <img alt="" src="gallery/item17.jpg" class="img-responsive">
                            </a>
						  </div>
                        </div>
                        <div class="col-sm-4 col-md-2 col-lg-3 col-xs-6 mix ">
						  <div class="light_img_wrap">
                            <a href="gallery/item18.jpg">
                                <img alt="" src="gallery/item18.jpg" class="img-responsive">
                            </a>
						  </div>
                        </div>
                        <div class="col-sm-4 col-md-2 col-lg-3 col-xs-6 mix ">
						  <div class="light_img_wrap">
                            <a href="gallery/item19.jpg">
                                <img alt="" src="gallery/item19.jpg" class="img-responsive">
                            </a>
						  </div>
                        </div>
                        <div class="col-sm-4 col-md-2 col-lg-3 col-xs-6 mix ">
						  <div class="light_img_wrap">
                            <a href="gallery/item20.jpg">
                                <img alt="" src="gallery/item20.jpg" class="img-responsive">
                            </a>
						  </div>
                        </div>
                        <div class="col-sm-4 col-md-2 col-lg-3 col-xs-6 mix ">
						  <div class="light_img_wrap">
                            <a href="gallery/item21.jpg">
                                <img alt="" src="gallery/item21.jpg" class="img-responsive">
                            </a>
						  </div>
                        </div>
                        <div class="col-sm-4 col-md-2 col-lg-3 col-xs-6 mix ">
						  <div class="light_img_wrap">
                            <a href="gallery/item22.jpg">
                                <img alt="" src="gallery/item22.jpg" class="img-responsive">
                            </a>
						  </div>
                        </div>
                        <div class="col-sm-4 col-md-2 col-lg-3 col-xs-6 mix ">
						  <div class="light_img_wrap">
                            <a href="gallery/item23.jpg">
                                <img alt="" src="gallery/item23.jpg" class="img-responsive">
                            </a>
						  </div>
                        </div>
                        <div class="col-sm-4 col-md-2 col-lg-3 col-xs-6 mix ">
						  <div class="light_img_wrap">
                            <a href="gallery/item24.jpg">
                                <img alt="" src="gallery/item24.jpg" class="img-responsive">
                            </a>
						  </div>
                        </div>
                        <div class="col-sm-4 col-md-2 col-lg-3 col-xs-6 mix ">
						  <div class="light_img_wrap">
                            <a href="gallery/item28.jpg">
                                <img alt="" src="gallery/item28.jpg" class="img-responsive">
                            </a>
						  </div>
                        </div>
                        <div class="col-sm-4 col-md-2 col-lg-3 col-xs-6 mix ">
						  <div class="light_img_wrap">
                            <a href="gallery/item25.jpg">
                                <img alt="" src="gallery/item25.jpg" class="img-responsive">
                            </a>
						  </div>
                        </div>
                        <div class="col-sm-4 col-md-2 col-lg-3 col-xs-6 mix ">
						  <div class="light_img_wrap">
                            <a href="gallery/item26.jpg">
                                <img alt="" src="gallery/item26.jpg" class="img-responsive">
                            </a>
						  </div>
                        </div>
                        <div class="col-sm-4 col-md-2 col-lg-3 col-xs-6 mix ">
						  <div class="light_img_wrap">
                            <a href="gallery/item27.jpg">
                                <img alt="" src="gallery/item27.jpg" class="img-responsive">
                            </a>
						  </div>
                        </div>
                    </div>
                </div>
                <!-- gallery -->
            </div>
        </div>
    </div>
            

            {% include products.html %}
            
            {% include info.html %}

            {% include footer.html %}

    <!-- bottom tab -->
    <div class="bottom_tab">
        <div class="suppert_tab">
            <h3 class="book_now">
					BOOK NOW
					<i class="fa fa-chevron-up">
					</i>
				</h3>
        </div>
    </div>
    <!-- bottom tab -->
    <!-- Bootstrap script -->
    <script type="text/javascript" src="js/jquery.min.js">
    </script>
    <script type="text/javascript" src="js/bootstrap.min.js">
    </script>
    <!-- script -->
    <!-- bx slider script -->
    <script type="text/javascript" src="js/plugins/bxcrousel/js/jquery-bxslider.js">
    </script>
    <!-- bx slider script end -->
    <!-- REVOLUTION JS FILES -->
    <script type="text/javascript" src="js/plugins/revolution/js/jquery.themepunch.tools.min.js">
    </script>
    <script type="text/javascript" src="js/plugins/revolution/js/jquery.themepunch.revolution.min.js">
    </script>
    <script type="text/javascript" src="js/plugins/revolution/js/revolution.extension.layeranimation.min.js">
    </script>
    <script type="text/javascript" src="js/plugins/revolution/js/revolution.extension.navigation.min.js">
    </script>
    <script type="text/javascript" src="js/plugins/revolution/js/revolution.extension.slideanims.min.js">
    </script>
    <script type="text/javascript" src="js/plugins/revolution/js/revolution.extension.actions.min.js">
    </script>
    <script type="text/javascript" src="js/plugins/revolution/js/revolution.extension.parallax.min.js">
    </script>
	<script type="text/javascript" src="js/plugins/revolution/js/revolution.addon.typewriter.min.js"></script>
    <!-- REVOLUTION JS FiLES -->
    <!-- photo gallery -->
    <script src="js/plugins/photogallery/js/jquery.prettyPhoto.js" type="text/javascript">
    </script>
    <script src="js/plugins/portfolio/js/jquery.mixitup.js" type="text/javascript">
    </script>
    <!-- photo gallery -->
    <!-- ui tabs  -->
    <script src="js/plugins/uitabs/js/jquery-ui.js" type="text/javascript">
    </script>
    <!-- ui tabs  -->
    <!--counter js-->
    <script type="text/javascript" src="js/plugins/counter/js/jquery.countTo.js">
    </script>
    <!--counter js-->
	<script type="text/javascript" src="js/scripts.js"></script>
</body>
<!-- Body End -->
</html>