    <!-- section_accordian -->
    <div class="ds_wrapper section_accordian">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <h2 class="block_title">
							MY STORY
						</h2>
                    <div class="right_side_mdl">
                        <p>
                           Carolyn Lasare Owner/Salon Professional 
                        </p>
                        <img alt="" src="images/about.jpg" class="img-responsive hair_cut">
                        <img alt="" src="images/about2.jpg" class="img-responsive saving_img">
                        <p>
                           Since an early age, I have been INSPIRED to do hair. I even had a home salon in my basement growing up. It was while working my first salon job assisting at age 16 when I knew I would one day open my own shop.
                        </p>
                        <p>After 6 years of learning and earning, working for top salons in the Naperville area, I knew I had all the tools I needed to open my own shop. Inspired Salon By Carolyn opened May 2015, a result of passion, hard work, and talent.</p>
                        <p>I do my best to give each and every client the best salon experience possible. You won't find anyone better at reinventing hairstyles or using the most advanced techniques to cut, color and style hair.</p>
                        <p> What you will find is experience and you will gain knowledge to have a better understanding of how to maintain your look.  I am passionate about  what I do and appreciative of your patronage.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- section_accordian end -->