<!-- category slider section end-->
<div class="ds_wrapper  contact_main">
    <div class="container">
        <div class="row">
            <div class="content">
                <div class="contact_page">
                    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                                                <h2 class="block_title">
                           Your Beauty Is Our Duty
                        </h2>
                        <div class="block_widget">
                            <div class="widget widget_text">
                                <div class="text_widget">
                                    <p>
                                            Accentuating the natural beauty in each women and customizing color and cuts to best fit your features. Inspired Salon By Carolyn excels in the latest trends and techniques in up-do styles, make-up, haircutting, creative coloring, eyebrow tinting and waxing. You will look fabulous and feel relaxed after every visit!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                                                <h2 class="block_title">
                           When You Look Good, You Feel Good
                        </h2>
                        <div class="widget widget_text">
                            <div class="text_widget address_widget">
                                <p>
                                    The art of barbering comes down to details. Inspired Salon By Carolyn pays homage to days of old by acknowledging the trade is as much an art form as it is a skill. The shop specializes in men's scissor and clipper cuts, straight razor shaves, skin care treatments, and color. Feel relaxed and look hot! Make an appointment today, you won't be disappointed.
                                </p>
             <!--                   <ul>-->
             <!--                       <li>-->
             <!--                           <i class="fa fa-home">-->
            	<!--									</i>Salon 34 Studio 1220 W Ogden Ave Suite A, 60563 Naperville, United States-->
             <!--                       </li>-->
             <!--                       <li>-->
             <!--                           <i class="fa fa-phone">-->
													<!--</i>(+386) 987 654 321-->
             <!--                       </li>-->
             <!--                       <li>-->
             <!--                           <i class="fa fa-phone">-->
             <!--   										</i>(630) 768-9934-->
             <!--                       </li>-->
             <!--                       <li>-->
             <!--                           <i class="fa fa-envelope">-->
            	<!--									</i>inspiredsalon@yahoo.com-->
             <!--                       </li>-->
             <!--                   </ul>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--row end-->
        </div>
        <!-- container -->
    </div>
</div>
    