        <!-- copyright_footer -->
    <div class="ds_wrapper copyright_footer">
        <div class="container">
            <div class="row">
                <div class="copyright_area">
                    <p>
                        Inspired Salon <img alt="" src="images/footer_icon.png"> By Carolyn
                    </p>
                    <div id="copyright">
                        InspiredSalonbyCarolyn @2017 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- copyright_footer -->