<div class="ds_wrapper wrapper_middle">
    <div class="container">
        <div class="row">
            <!-- left_side -->
        <div class="button_main">
            <div class="icons_button">
                <i class="fa fa-instagram">
													</i>
            </div>
            <div class=" link_button btn-lg">
                <a href="https://www.instagram.com/inspiredsalonbycarolyn/">
														Follow us on instagram
													</a>
            </div>
            
        </div>
            <div class="col-sm-12 col-lg-12 left_beard_gallery">
                <h2 class="block_title">Gallery</h2>
                <ul class="gallery clearfix">
                    <li>
                        <a href="gallery/item1.jpg" data-gal="prettyPhoto[gallery1]" title="SPA">
                            <img id="small_gallery" src="gallery/item1.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="gallery/item2.jpg" data-gal="prettyPhoto[gallery1]" title="SPA">
                            <img id="small_gallery" src="gallery/item2.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="gallery/item4.jpg" data-gal="prettyPhoto[gallery1]" title="SPA">
                            <img id="small_gallery" src="gallery/item4.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="gallery/item7.jpg" data-gal="prettyPhoto[gallery1]" title="SPA">
                            <img id="small_gallery" src="gallery/item7.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="gallery/item3.jpg" data-gal="prettyPhoto[gallery1]" title="SPA">
                            <img id="small_gallery" src="gallery/item3.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="gallery/item5.jpg" data-gal="prettyPhoto[gallery1]" title="SPA">
                            <img id="small_gallery" src="gallery/item5.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="gallery/item7.jpg" data-gal="prettyPhoto[gallery1]" title="SPA">
                            <img id="small_gallery" src="gallery/item7.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="gallery/item8.jpg" data-gal="prettyPhoto[gallery1]" title="SPA">
                            <img id="small_gallery" src="gallery/item8.jpg" alt="">
                        </a>
                    </li>

                </ul>
            </div>
            <!-- left_side end-->
        </div>
        <div class="barber_buttons_shortcodes">
									<ul>
										<li class="bottom_20 margin_right2">
											<a class="btn btn_color1 uppercase" href="gallery.html" role="button">
												view more
											</a>
										</li>
									</ul>
								</div>
    </div>
</div>
