    <!-- category slier section start-->
    <div class="ds_wrapper portfolio_heading_section">
        <div class="container">
            <div class="row">
                <!--  heading -->
			  <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="pagecontent">
                    <div class="ds_pagecontentContent_title">
                        <h1>
								GALLERY
							</h1>
                    </div>
                </div>
               </div>
                <!--  heading -->
            </div>
        </div>
    </div>

    <!-- category slider section end-->
    <div class="ds_wrapper  portfolio_slider_sec">
        <div class="container">
            <div class="row">
                <div class="full_width lightbox_gallary" id="porfolio_filter">
                    <div class="gallery_light clearfix">
                        <div class="col-sm-4 col-md-2 col-lg-3 col-xs-6 mix ">
						  <div class="light_img_wrap">
                            <a href="gallery/item1.jpg">
                                <img alt="" src="gallery/item1.jpg" class="img-responsive">
                            </a>
						  </div>
                        </div>
                        <div class="col-sm-4 col-md-2 col-lg-3 col-xs-6 mix ">
						  <div class="light_img_wrap">
                            <a href="gallery/item2.jpg">
                                <img alt="" src="gallery/item2.jpg" class="img-responsive">
                            </a>
						  </div>
                        </div>
                        <div class="col-sm-4 col-md-2 col-lg-3 col-xs-6 mix ">
						  <div class="light_img_wrap">
                            <a href="gallery/item3.jpg">
                                <img alt="" src="gallery/item3.jpg" class="img-responsive">
                            </a>
						  </div>
                        </div>
                        <div class="col-sm-4 col-md-2 col-lg-3 col-xs-6 mix ">
						  <div class="light_img_wrap">
                            <a href="gallery/item4.jpg">
                                <img alt="" src="gallery/item4.jpg" class="img-responsive">
                            </a>
						  </div>
                        </div>
                        <div class="col-sm-4 col-md-2 col-lg-3 col-xs-6 mix ">
						  <div class="light_img_wrap">
                            <a href="gallery/item5.jpg">
                                <img alt="" src="gallery/item5.jpg" class="img-responsive">
                            </a>
						  </div>
                        </div>
                        <div class="col-sm-4 col-md-2 col-lg-3 col-xs-6 mix ">
						  <div class="light_img_wrap">
                            <a href="gallery/item6.jpg">
                                <img alt="" src="gallery/item6.jpg" class="img-responsive">
                            </a>
						  </div>
                        </div>
                        <div class="col-sm-4 col-md-2 col-lg-3 col-xs-6 mix ">
						  <div class="light_img_wrap">
                            <a href="gallery/item7.jpg">
                                <img alt="" src="gallery/item7.jpg" class="img-responsive">
                            </a>
						  </div>
                        </div>
                        <div class="col-sm-4 col-md-2 col-lg-3 col-xs-6 mix ">
						  <div class="light_img_wrap">
                            <a href="gallery/item8.jpg">
                                <img alt="" src="gallery/item8.jpg" class="img-responsive">
                            </a>
						  </div>
                        </div>
                        <div class="col-sm-4 col-md-2 col-lg-3 col-xs-6 mix ">
						  <div class="light_img_wrap">
                            <a href="gallery/item9.jpg">
                                <img alt="" src="gallery/item9.jpg" class="img-responsive">
                            </a>
						  </div>
                        </div>
                        <div class="col-sm-4 col-md-2 col-lg-3 col-xs-6 mix ">
						  <div class="light_img_wrap">
                            <a href="gallery/item10.jpg">
                                <img alt="" src="gallery/item10.jpg" class="img-responsive">
                            </a>
						  </div>
                        </div>
                        <div class="col-sm-4 col-md-2 col-lg-3 col-xs-6 mix ">
						  <div class="light_img_wrap">
                            <a href="gallery/item11.jpg">
                                <img alt="" src="gallery/item11.jpg" class="img-responsive">
                            </a>
						  </div>
                        </div>
                        <div class="col-sm-4 col-md-2 col-lg-3 col-xs-6 mix ">
						  <div class="light_img_wrap">
                            <a href="gallery/item12.jpg">
                                <img alt="" src="gallery/item12.jpg" class="img-responsive">
                            </a>
						  </div>
                        </div>
                        <div class="col-sm-4 col-md-2 col-lg-3 col-xs-6 mix ">
						  <div class="light_img_wrap">
                            <a href="gallery/item13.jpg">
                                <img alt="" src="gallery/item13.jpg" class="img-responsive">
                            </a>
						  </div>
                        </div>
                        <div class="col-sm-4 col-md-2 col-lg-3 col-xs-6 mix ">
						  <div class="light_img_wrap">
                            <a href="gallery/item14.jpg">
                                <img alt="" src="gallery/item14.jpg" class="img-responsive">
                            </a>
						  </div>
                        </div>
                        <div class="col-sm-4 col-md-2 col-lg-3 col-xs-6 mix ">
						  <div class="light_img_wrap">
                            <a href="gallery/item15.jpg">
                                <img alt="" src="gallery/item15.jpg" class="img-responsive">
                            </a>
						  </div>
                        </div>
                        <div class="col-sm-4 col-md-2 col-lg-3 col-xs-6 mix ">
						  <div class="light_img_wrap">
                            <a href="gallery/item16.jpg">
                                <img alt="" src="gallery/item16.jpg" class="img-responsive">
                            </a>
						  </div>
                        </div>
                        <div class="col-sm-4 col-md-2 col-lg-3 col-xs-6 mix ">
						  <div class="light_img_wrap">
                            <a href="gallery/item17.jpg">
                                <img alt="" src="gallery/item17.jpg" class="img-responsive">
                            </a>
						  </div>
                        </div>
                        <div class="col-sm-4 col-md-2 col-lg-3 col-xs-6 mix ">
						  <div class="light_img_wrap">
                            <a href="gallery/item18.jpg">
                                <img alt="" src="gallery/item18.jpg" class="img-responsive">
                            </a>
						  </div>
                        </div>
                        <div class="col-sm-4 col-md-2 col-lg-3 col-xs-6 mix ">
						  <div class="light_img_wrap">
                            <a href="gallery/item19.jpg">
                                <img alt="" src="gallery/item19.jpg" class="img-responsive">
                            </a>
						  </div>
                        </div>
                        <div class="col-sm-4 col-md-2 col-lg-3 col-xs-6 mix ">
						  <div class="light_img_wrap">
                            <a href="gallery/item20.jpg">
                                <img alt="" src="gallery/item20.jpg" class="img-responsive">
                            </a>
						  </div>
                        </div>
                        <div class="col-sm-4 col-md-2 col-lg-3 col-xs-6 mix ">
						  <div class="light_img_wrap">
                            <a href="gallery/item21.jpg">
                                <img alt="" src="gallery/item21.jpg" class="img-responsive">
                            </a>
						  </div>
                        </div>
                        <div class="col-sm-4 col-md-2 col-lg-3 col-xs-6 mix ">
						  <div class="light_img_wrap">
                            <a href="gallery/item22.jpg">
                                <img alt="" src="gallery/item22.jpg" class="img-responsive">
                            </a>
						  </div>
                        </div>
                        <div class="col-sm-4 col-md-2 col-lg-3 col-xs-6 mix ">
						  <div class="light_img_wrap">
                            <a href="gallery/item23.jpg">
                                <img alt="" src="gallery/item23.jpg" class="img-responsive">
                            </a>
						  </div>
                        </div>
                        <div class="col-sm-4 col-md-2 col-lg-3 col-xs-6 mix ">
						  <div class="light_img_wrap">
                            <a href="gallery/item24.jpg">
                                <img alt="" src="gallery/item24.jpg" class="img-responsive">
                            </a>
						  </div>
                        </div>
                        <div class="col-sm-4 col-md-2 col-lg-3 col-xs-6 mix ">
						  <div class="light_img_wrap">
                            <a href="gallery/item28.jpg">
                                <img alt="" src="gallery/item28.jpg" class="img-responsive">
                            </a>
						  </div>
                        </div>
                        <div class="col-sm-4 col-md-2 col-lg-3 col-xs-6 mix ">
						  <div class="light_img_wrap">
                            <a href="gallery/item25.jpg">
                                <img alt="" src="gallery/item25.jpg" class="img-responsive">
                            </a>
						  </div>
                        </div>
                        <div class="col-sm-4 col-md-2 col-lg-3 col-xs-6 mix ">
						  <div class="light_img_wrap">
                            <a href="gallery/item26.jpg">
                                <img alt="" src="gallery/item26.jpg" class="img-responsive">
                            </a>
						  </div>
                        </div>
                        <div class="col-sm-4 col-md-2 col-lg-3 col-xs-6 mix ">
						  <div class="light_img_wrap">
                            <a href="gallery/item27.jpg">
                                <img alt="" src="gallery/item27.jpg" class="img-responsive">
                            </a>
						  </div>
                        </div>
                    </div>
                </div>
                <!-- gallery -->
            </div>
        </div>
    </div>