<!-- Header Start -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {{page.title}}
    </title>
    <!--Main Css Start-->
    <link rel="stylesheet" href="css/main.css">
    <!--Main Css End-->
    <!--color changing css file-->
    <link rel="stylesheet" id="theme-change" type="text/css" href="#">
    <!--color changing css file end-->
    <!-- favicon-icon -->
    <link rel="icon" type="image/png" href="images/favicon-icon.png">
    <!-- favicon-icon -->
</head>
<!-- Header End -->