    <!-- header top section start-->
    <header class="header_main header_home">
        <div class="ds_wrapper wrapper_top">
            <div class="container">
                <div class="row">
                    <span class="toogle_span">
							Notification Bar
						</span>
                    <div class="notification_bar">
                        <div class="col-sm-9 col-lg-9">
                            <div class="ds_top_notification">
                                <div class="br_notification_content">
                                    <i class="fa fa-mobile">
										</i>
                                    <div class="notification_text">
                                        Call and make an Appointment (630) 768-9934
                                    </div>
                                </div>
                                <div class="br_notification_content">
                                    <i class="fa fa-map-marker">
										</i>
                                    <div class="notification_text">
                                        1220 W Ogden Ave Suite A Naperville
                                    </div>
                                </div>
                                <div class="br_notification_content">
                                    <i class="fa fa-send">
										</i>
                                    <div class="notification_text">
                                        <a href="mailto:info@spa.com">
												inspiredsalon@yahoo.com
											</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3 col-lg-3">
                            <div class="ds_social_notification">
                                <a target="_blank" href="#">
                                    <i class="fa fa-twitter">
										</i>
                                </a>
                                <a target="_blank" href="https://www.facebook.com/InspiredSalonbyCarolyn">
                                    <i class="fa fa-facebook">
										</i>
                                </a>
                                <a target="_blank" href="https://www.instagram.com/inspiredsalonbycarolyn/">
                                    <i class="fa fa-instagram">
										</i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- header top section -->
        <!-- header menu section -->
        <div class="ds_wrapper wrapper_nav">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2 col-lg-2 col-md-2 col-xs-5">
                        <div class="ds_logo_left">
                            <a href="index.html">
                                <img alt="logo" src="images/logo.png">
                            </a>
                        </div>
                    </div>
                    <div class="pull-right hidden-xs" id="appointment_btn">
                        <div class="appointment_btn">
                            <a href="https://www.schedulicity.com/scheduling/IS89SW">
									Book an appointment
								</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--header menu section end-->
    </header>
    <!-- header menu section end -->
    
    <!--Stop by to have a chat and sit down for a complimentary consultation. Or give us a call at 6307689934.  The best way to schedule is to visit my scheduling link or text me your name and what time and day you prefer.-->