    <div class="ds_wrapper wrapper_saloon">
        <div class="container">
            <div class="row">
                <ul class="slides_times">
                    <li class="ds_wtime">
                        <div class="ds_day">
                            MON
                        </div>
                        <div class="ds_whours">
                            11:00-06:00
                        </div>
                    </li>
                    <li class="ds_wtime">
                        <div class="ds_day">
                            Tue
                        </div>
                        <div class="ds_whours">
                            11:00-08:00
                        </div>
                    </li>
                    <li class="ds_wtime">
                        <div class="ds_day">
                            wed
                        </div>
                        <div class="ds_whours">
                            11:00-08:00
                        </div>
                    </li>
                    <li class="ds_wtime closed">
                        <div class="ds_day">
                            thu
                        </div>
                        <div class="ds_whours">
                            CLOSED
                        </div>
                    </li>
                    <li class="ds_wtime">
                        <div class="ds_day">
                            fri
                        </div>
                        <div class="ds_whours">
                            11:00-06:00
                        </div>
                    </li>
                    <li class="ds_wtime">
                        <div class="ds_day">
                            sat
                        </div>
                        <div class="ds_whours">
                            11:00-06:00
                        </div>
                    </li>
                    <li class="ds_wtime">
                        <div class="ds_day">
                            sun
                        </div>
                        <div class="ds_whours">
                            11:00-08:00
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>