<!-- footer start -->
    <footer>
        <div class="ds_wrapper footer_section">
            <div class="container">
                <div class="row">
                    <!--  buy now -->
                    <!--  buy now end-->
                    <!-- instagram-->
       <!--             <div class="col-sm-3 col-lg-3">-->
       <!--                 <h4 class="widget-title">-->
							<!--	TAGGED #BRAND ON INSTAGRAM-->
							<!--</h4>-->
       <!--                 <div class="photo_tiles">-->
       <!--                     <ul>-->
       <!--                         <li>-->
       <!--                             <a href="#">-->
       <!--                                 <img alt="" src="http://placehold.it/84x84">-->
       <!--                             </a>-->
       <!--                         </li>-->
       <!--                         <li>-->
       <!--                             <a href="#">-->
       <!--                                 <img alt="" src="http://placehold.it/84x84">-->
       <!--                             </a>-->
       <!--                         </li>-->
       <!--                         <li>-->
       <!--                             <a href="#">-->
       <!--                                 <img alt="" src="http://placehold.it/84x84">-->
       <!--                             </a>-->
       <!--                         </li>-->
       <!--                         <li>-->
       <!--                             <a href="#">-->
       <!--                                 <img alt="" src="http://placehold.it/84x84">-->
       <!--                             </a>-->
       <!--                         </li>-->
       <!--                         <li>-->
       <!--                             <a href="#">-->
       <!--                                 <img alt="" src="http://placehold.it/84x84">-->
       <!--                             </a>-->
       <!--                         </li>-->
       <!--                         <li>-->
       <!--                             <a href="#">-->
       <!--                                 <img alt="" src="http://placehold.it/84x84">-->
       <!--                             </a>-->
       <!--                         </li>-->
       <!--                     </ul>-->
       <!--                 </div>-->
       <!--             </div>-->
                    <!--  instagram end-->
                    <!-- about us-->
                    <div class="col-sm-4 col-lg-4">
                        <h4 class="widget-title">
								Find Me
							</h4>
                        <div class="textwidget">
                            <ul class="contact">
                                <li>
                                    <i class="fa fa-phone">
										</i>(630) 768-9934
                                </li>
                                <li>
                                    <i class="fa fa-home">
										</i>Salon 34 Studio 1220 W Ogden Ave Suite A, 60563 Naperville, United States
                                </li>
                                <li>
                                    <i class="fa fa-envelope">
										</i>inspiredsalon@yahoo.com
                                </li>
                            </ul>
                        </div>
                                                <h4 class="widget-title">
								Book An Appointment
							</h4>
                        <div class="footer_button">
                            <a href="https://www.schedulicity.com/scheduling/IS89SW" target="_blank">
									Book An Appointment
								</a>
                        </div>
                    </div>
                    <!--  about us end-->
                    <!-- opening time-->
                    <div class="col-sm-4 col-lg-4">
                        <h4 class="widget-title">
								OPENING TIMES
							</h4>
                        <div class="textwidget">
                            <ul class="opening_times">
                                <li>
                                    <span class="day">
											Monday
										</span>
                                    <span class="time">
											11:00 - 06:00
										</span>
                                </li>
                                <li>
                                    <span class="day">
											Tuesday
										</span>
                                    <span class="time">
											11:00 - 08:00
										</span>
                                </li>
                                <li>
                                    <span class="day">
											Wednesday
										</span>
                                    <span class="time">
											11:00 - 08:00
										</span>
                                </li>
                                <li>
                                    <span class="day">
											Thursday
										</span>
                                    <span class="time">
											CLOSED
										</span>
                                </li>
                                <li>
                                    <span class="day">
											Friday
										</span>
                                    <span class="time">
											11:00 - 06:00
										</span>
                                </li>
                                <li>
                                    <span class="day">
											Saturday
										</span>
                                    <span class="time">
											11:00 - 06:00
										</span>
                                </li>
                                <li>
                                    <span class="day">
											Sunday
										</span>
                                    <span class="time">
											11:00 - 08:00
										</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4 col-lg-4">
                        <h2 class="block_title">
                            FIND US QUICKLY
                        </h2>
                        <div class="contact_map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d8175.531802835603!2d-88.1766695511717!3d41.781232923043724!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe71280e273ddafb!2sInspired+Salon+by+Carolyn!5e0!3m2!1sen!2sus!4v1501037870183" width="400"
                                height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>
                    <!--  opening time end-->
                </div>
            </div>
        </div>
    </footer>
    <!-- footer end -->