 
    <!-- gallery section start-->
    <div class="ds_wrapper wrapper_middle">
        <div class="container">
            <div class="row">
                                        <h2 class="block_title">
                           Prices
                        </h2>
                <!-- left_side -->
                <div class="col-sm-6 col-lg-6">
                    <div class="prices_section">
                        
                        <h2>
						<img class="hhlogo" src="images/Hers-72.png"></img>
							</h2>
                        <ul class="price_ul">
                            <li class="price_list">
                                <div class="price_title">
                                    Hers Cut
                                </div>
                                <div class="price_right">
                                    $40
                                </div>
                            </li>
                            <li class="price_list">
                                <div class="price_title">
                                    Little Ladies
                                </div>
                                <div class="price_right">
                                    $35
                                </div>
                            </li>
                            <li class="price_list">
                                <div class="price_title">
                                    Bang Trim
                                </div>
                                <div class="price_right">
                                    $8.00
                                </div>
                            </li>
                            <li class="price_list">
                                <div class="price_title">
                                    Brazilian Blow-Out
                                </div>
                                <div class="price_right">
                                    $100.00
                                </div>
                            </li>
                            <li class="price_list">
                                <div class="price_title">
                                   Blow-Out
                                </div>
                                <div class="price_right">
                                    $25
                                </div>
                            </li>
                            <li class="price_list">
                                <div class="price_title">
                                    Formal Style
                                </div>
                                <div class="price_right">
                                    $50 and Up
                                </div>
                            </li>
                            <li class="price_list">
                                <div class="price_title">
                                    Make-Up
                                </div>
                                <div class="price_right">
                                    $25
                                </div>
                            </li>
                            <li class="price_list">
                                <div class="price_title">
                                    Root T-Up
                                </div>
                                <div class="price_right">
                                    $50 and Up
                                </div>
                            </li>
                            <li class="price_list">
                                <div class="price_title">
                                    Glaze
                                </div>
                                <div class="price_right">
                                    $40
                                </div>
                            </li>
                            <li class="price_list">
                                <div class="price_title">
                                    Partial Highlight
                                </div>
                                <div class="price_right">
                                    $70 amd Up
                                </div>
                            </li>
                            <li class="price_list">
                                <div class="price_title">
                                    Full Highlight
                                </div>
                                <div class="price_right">
                                    $90 and Up
                                </div>
                            </li>
                            <li class="price_list">
                                <div class="price_title">
                                    Color Melt
                                </div>
                                <div class="price_right">
                                    $80
                                </div>
                            </li>
                            <li class="price_list">
                                <div class="price_title">
                                    Curl Reduction
                                </div>
                                <div class="price_right">
                                    $100
                                </div>
                            </li>
                            <li class="price_list">
                                <div class="price_title">
                                    Express Facial
                                </div>
                                <div class="price_right">
                                    $15
                                </div>
                            </li>
                            <li class="price_list">
                                <div class="price_title">
                                    Massage
                                </div>
                                <div class="price_right">
                                    $10 and Up
                                </div>
                            </li>
                            <li class="price_list">
                                <div class="price_title">
                                    Deep Condition
                                </div>
                                <div class="price_right">
                                    $12
                                </div>
                            </li>
                            <li class="price_list">
                                <div class="price_title">
                                    Clarify Treatment
                                </div>
                                <div class="price_right">
                                    $12
                                </div>
                            </li>
                            <li class="price_list">
                                <div class="price_title">
                                    Facial Waxing
                                </div>
                                <div class="price_right">
                                    $10
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- left_side end-->
                <!-- right_side start-->
                <div class="col-sm-6 col-lg-6">
                    <div class="prices_section">
                        <h2>
								<img class="hhlogo" src="images/His-72.png"></img>
							</h2>
                        <ul class="price_ul">
                            <li class="price_list">
                                <div class="price_title">
                                    His Cut
                                </div>
                                <div class="price_right">
                                    $20
                                </div>
                            </li>
                            <li class="price_list">
                                <div class="price_title">
                                    Clean-Up
                                </div>
                                <div class="price_right">
                                    $12
                                </div>
                            </li>
                            <li class="price_list">
                                <div class="price_title">
                                    Little Man
                                </div>
                                <div class="price_right">
                                    $18
                                </div>
                            </li>
                            <li class="price_list">
                                <div class="price_title">
                                   Facial Wax 
                                </div>
                                <div class="price_right">
                                    $8
                                </div>
                            </li>
                            <li class="price_list">
                                <div class="price_title">
                                    Face Shave
                                </div>
                                <div class="price_right">
                                    $15
                                </div>
                            </li>
                            <li class="price_list">
                                <div class="price_title">
                                    Express Facial
                                </div>
                                <div class="price_right">
                                    $15
                                </div>
                            </li>
                            <li class="price_list">
                                <div class="price_title">
                                    Beard Trim
                                </div>
                                <div class="price_right">
                                    $8
                                </div>
                            </li>
                            <li class="price_list">
                                <div class="price_title">
                                    Massage
                                </div>
                                <div class="price_right">
                                    $10 and Up
                                </div>
                            </li>
                            <li class="price_list">
                                <div class="price_title">
                                    Color
                                </div>
                                <div class="price_right">
                                    $30 and Up
                                </div>
                            </li>
                            <li class="price_list">
                                <div class="price_title">
                                    Clarify Treatment
                                </div>
                                <div class="price_right">
                                    $12
                                </div>
                            </li>
                            <li class="price_list">
                                <div class="price_title">
                                    Deep Condition
                                </div>
                                <div class="price_right">
                                    $12
                                </div>
                            </li>
                            <li class="price_list">
                                <div class="price_title">
                                    MANicure
                                </div>
                                <div class="price_right">
                                    $20
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- right_side end-->
            </div>
        </div>
    </div>
    <!-- gallery section end-->