    <div class="ds_wrapper boxes_coupon">
        <div class="container">
            <div class="row">
                <!--  heading  start-->
                <div class="block_heading">
                    <div class="title_text">
                        WE CARE ABOUT OUR CUSTOMERS
                    </div>
                    <div class="title_block">
                        <h2>
								CUSTOMER'S TESTIMONIALS
							</h2>
                    </div>
                </div>
                <!--  heading end-->
                <!-- testimonial_box start-->
                <div class="col-sm-6 col-lg-6 col-md-6">
                    <div class="box_first">
                        <div class="avtar_img col-sm-4 col-lg-3 col-xs-3">
                            <img alt="" src="http://placehold.it/300x300" class="img-responsive">
                        </div>
                        <div class="col-lg-9 col-sm-8 pad0">
                            <div class="testimonial_team">
                                <i class="fa fa-quote-right">
									</i>Beauty Salon is a
                                <b>
										breath of fresh air
									</b> to the industry. It is bright, modern, stylish and a wonderful environment in which to have a treatment.
                                <i class="fa fa-quote-right last">
									</i>
                            </div>
                            <div class="testimonial_author">
                                John Doe, Happy Customer
                            </div>
                        </div>
                    </div>
                </div>
                <!-- testimonial_box end-->
                <!-- testimonial_box start-->
                <div class="col-sm-6 col-lg-6 col-md-6">
                    <div class="box_first">
                        <div class="avtar_img col-sm-4 col-lg-3 col-xs-3">
                            <img alt="" src="http://placehold.it/300x300" class="img-responsive">
                        </div>
                        <div class="col-lg-9 col-sm-8 pad0">
                            <div class="testimonial_team">
                                <i class="fa fa-quote-right">
									</i>Top-notch service. I couldn't have been more pleased. I always leave with a
                                <b>
										big smile
									</b> on my face and much more relaxed than when I arrived.
                                <i class="fa fa-quote-right last">
									</i>
                            </div>
                            <div class="testimonial_author">
                                John Mustachio, Satisfied Customer
                            </div>
                        </div>
                    </div>
                </div>
                <!-- testimonial_box end-->
                <!-- testimonial_box start-->
                <div class="col-sm-6 col-lg-6 col-md-6">
                    <div class="box_first">
                        <div class="avtar_img col-sm-4 col-lg-3 col-xs-3">
                            <img alt="" src="http://placehold.it/300x300" class="img-responsive">
                        </div>
                        <div class="col-lg-9 col-sm-8 pad0">
                            <div class="testimonial_team">
                                <i class="fa fa-quote-right">
									</i>Top-notch service. I couldn't have been more pleased. I always leave with a
                                <b>
										big smile
									</b> on my face and much more relaxed than when I arrived.
                                <i class="fa fa-quote-right last">
									</i>
                            </div>
                            <div class="testimonial_author">
                                Some Customer
                            </div>
                        </div>
                    </div>
                </div>
                <!-- testimonial_box end-->
                <!-- testimonial_box start-->
                <div class="col-sm-6 col-lg-6 col-md-6">
                    <div class="box_first">
                        <div class="avtar_img col-sm-4 col-lg-3 col-xs-3">
                            <img alt="" src="http://placehold.it/300x300" class="img-responsive">
                        </div>
                        <div class="col-lg-9 col-sm-8 pad0">
                            <div class="testimonial_team">
                                <i class="fa fa-quote-right">
									</i>Beauty Salon is a
                                <b>
										breath of fresh air
									</b> to the industry. It is bright, modern, stylish and a wonderful environment in which to have a treatment.
                                <i class="fa fa-quote-right last">
									</i>
                            </div>
                            <div class="testimonial_author">
                                James Dean
                            </div>
                        </div>
                    </div>
                </div>
                <!-- testimonial_box end-->
                <!-- testimonial_box start-->
                <div class="col-sm-6 col-lg-6 col-md-6">
                    <div class="box_first">
                        <div class="avtar_img col-sm-4 col-lg-3 col-xs-3">
                            <img alt="" src="http://placehold.it/300x300" class="img-responsive">
                        </div>
                        <div class="col-lg-9 col-sm-8 pad0">
                            <div class="testimonial_team">
                                <i class="fa fa-quote-right">
									</i>Top-notch service. I couldn't have been more pleased. I always leave with a
                                <b>
										big smile
									</b> on my face and much more relaxed than when I arrived.
                                <i class="fa fa-quote-right last">
									</i>
                            </div>
                            <div class="testimonial_author">
                                Armando
                            </div>
                        </div>
                    </div>
                </div>
                <!-- testimonial_box end-->
                <!-- testimonial_box start-->
                <div class="col-sm-6 col-lg-6 col-md-6">
                    <div class="box_first">
                        <div class="avtar_img col-sm-4 col-lg-3 col-xs-3">
                            <img alt="" src="http://placehold.it/300x300" class="img-responsive">
                        </div>
                        <div class="col-lg-9 col-sm-8 pad0">
                            <div class="testimonial_team">
                                <i class="fa fa-quote-right">
									</i>Beauty Salon is a
                                <b>
										breath of fresh air
									</b> to the industry. It is bright, modern, stylish and a wonderful environment in which to have a treatment.
                                <i class="fa fa-quote-right last">
									</i>
                            </div>
                            <div class="testimonial_author">
                                Josephine Doe
                            </div>
                        </div>
                    </div>
                </div>
                <!-- testimonial_box end-->
            </div>
        </div>
    </div>
    <!-- discouont coupon section end -->